bin
pkg
*.exe
*.out
*.o
vendor
.env
.env.local
.env.development
.env.production
config.yaml
logs
*.log
*.pid
*.swp
*.swo
*.bak
.vscode
.idea
.DS_Store
docker-compose.yml
.dockerignore
.git
.gitignore
.github
tmp

web_client/node_modules
web_client/.pnpm
web_client/.pnpm-store
web_client/npm-debug.log
web_client/build
web_client/dist
web_client/parcel-bundle-reports
web_client/.cache
web_client/.parcel-cache
web_client/.vscode
web_client/.idea
web_client/*.swp
web_client/*.swo
web_client/.env
web_client/.env.local
web_client/.env.development
web_client/.env.production
web_client/.DS_Store
web_client/logs
web_client/*.log
web_client/.git
